*,
*::before,
*::after{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: mediumorchid;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 40px;
    justify-content: center;
}

#mainDiv{
    height: 600px;
    width: 400px;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    
    border-bottom-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

    
    border-right: 8px solid midnightblue;
    border-bottom: 8px solid midnightblue;

    box-shadow: 5px 5px 10px
                rgba(0, 0, 0, 0.4);

}

#displayCon{
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    height: 150px;
    margin: 25px 25px 20px 25px;
    border: solid midnightblue 2px;
    box-shadow: inset 0px 0px 5px;
}
h2{
    pointer-events:none;
}

ul{
    
    display: flex;
    justify-content: end;
    align-items: end;
    list-style: none;
    flex-wrap: wrap;
    
    margin: 0px 5px 0px -40px;
}

.idleButton{
    border-right: 6px solid midnightblue;
    border-bottom: 6px solid midnightblue;
    box-shadow: 5px 5px 5px
    rgba(0, 0, 0, 0.3);
}

.clickedButton{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0);
}

.button{
    height: 60px;
    width: 85px;
    border-radius: 10px;
    color: lavender;
    background-color: royalblue;
    
    
}

#zeroButton{
    width: 182px;
 
}

#buttonsCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}

#memeButton{
    color: lavender;
    text-align: center;
    animation: rainbow-bg 4s linear;
	animation-iteration-count: infinite;
    
    border-right: 6px solid rgb(60, 50, 69);
    border-bottom: 6px solid rgb(60, 50, 69);
}

#undoButton{
    background-color: midnightblue;
    color: lavender;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}

#clearButton{
    background-color: lavender;
    color: midnightblue;

    border-right: 6px solid rgb(120, 119, 119);
    border-bottom: 6px solid rgb(120, 119, 119);
}

#bottomTextCon{
    color: lavender;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 15px 20px -5px 20px;

    border-bottom-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

    border-right: 4px solid rgb(28, 84, 115);
    border-bottom: 4px solid rgb(28, 84, 115);

    box-shadow: 5px 5px 5px
    rgba(0, 0, 0, 0.2);
}









@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}